version: '3.8'

services:
  db:
    image: postgres:15-alpine
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: NewStrongPassword123
      POSTGRES_DB: sentinel_stack
    ports:
      - "5432:5432"
    # volumes:
    #   - infra_postgres_data_v2:/var/lib/postgresql/data
    networks:
      - sentinel_net

  redis:
    image: redis:7-alpine
    restart: always
    ports:
      - "6379:6379"
    networks:
      - sentinel_net

volumes:
  infra_postgres_data_v2:


networks:
  sentinel_net:
    driver: bridge
